@model LoginModel
@{
    ViewData["Title"] = "Login";
}
<div class="row custom-bg-2 text-light rounded p-3 shadow">
    <h1>Login</h1>
    <hr />
    <div class="row">
        <h3 class="py-3">Esegui il login per accedere al sito</h3>
        <form asp-action="Login" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="custom-form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="custom-form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button type="submit" class="custom-btn my-3">Login</button>
        </form>
        <div class="mt-3">
            <h5 class="pb-2">Non hai un account?</h5>
            <a class="custom-btn link-light text-decoration-none" asp-action="Register">Registrati</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}