@model ProgettoSettimanale_29_07__02_08.DataLayer.Entities.Order

@{
    ViewData["Title"] = "Cart";
}
<div class="row custom-bg-2 text-light p-3 rounded">
    <h1>Carrello</h1>
    <hr />
    @if (Model.Items.Any())
    {
        <form asp-action="Checkout" method="post">
            <table class="table">
                <thead>
                    <tr>
                        <th>Prodotto</th>
                        <th>Quantità</th>
                        <th>Prezzo</th>
                        <th>Totale</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>@item.Product.Name</td>
                            <td>@item.Quantity</td>
                            <td>@item.Product.Price.ToString("C")</td>
                            <td>@((item.Quantity * item.Product.Price).ToString("C"))</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="custom-form-group custom-bg mb-3 col-4 ">
                <label for="Address">Indirizzo di Spedizione</label>
                <input type="text" class="form-control" id="Address" name="Address" required placeholder="Via Vittorio emanuele 2"/>
            </div>
            <div class="custom-form-group custom-bg col-6">
                <label for="Notes">Note</label>
                <textarea class="form-control" id="Notes" name="Notes" placeholder="Allergie: ...."></textarea>
            </div>
            <button type="submit" class="custom-btn mt-3">Concludi Ordine</button>
        </form>
    }
    else
    {
        <p>Il carrello è vuoto.</p>
    }
</div>
