@model ProgettoSettimanale_29_07__02_08.DataLayer.Entities.Product

@{
    ViewData["Title"] = "EditProduct";
}
<div class="row custom-bg-2 p-3 text-light rounded shadow">
    <h1>Modifica</h1>
    <hr />
    <div class="row">
        <div class="col-md-4 offset-md-4 form-div">
            <form asp-action="EditProduct">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="custom-form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="custom-form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="custom-form-group">
                    <label asp-for="PhotoUrl" class="control-label"></label>
                    <input asp-for="PhotoUrl" class="form-control" />
                    <span asp-validation-for="PhotoUrl" class="text-danger"></span>
                </div>
                <div class="custom-form-group">
                    <label asp-for="DeliveryTime" class="control-label"></label>
                    <input asp-for="DeliveryTime" class="form-control" />
                    <span asp-validation-for="DeliveryTime" class="text-danger"></span>
                </div>
                <div class="custom-form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <div class="mt-5">
            <a asp-action="ProductList" class="custom-btn link-light text-decoration-none">Torna alla lista prodotti</a>
        </div>
    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
